$main-color: #ffc300;
$second-color: #d8a600;
$pure-white: #fff;
$light-white: #eee;
$dark: #040505;

$light-dark-gradient: linear-gradient(45deg, rgba(112, 112, 112, 0.651), rgba(119, 119, 119, 0.75));
$dark-gradient: linear-gradient(45deg, rgba(10, 10, 10, 0.699), rgba(0, 0, 0, 0.377));
$light-dark-gradient-solid: radial-gradient(circle at top right, rgb(49, 49, 49) 0%, rgb(39, 39, 39) 100%);
